/* <body>
// ========================================================================== */

body {
  <?php if ( get_option("x_design_bg_image_pattern") == '' ) : ?>
    background: {{dc:theme:x_design_bg_color destination='color'}};
  <?php else : ?>
    background: {{dc:theme:x_design_bg_color}} url({{dc:theme:x_design_bg_image_pattern type="image"}}) center top repeat;
  <?php endif; ?>
}

/* Container Sizing
// ========================================================================== */

.x-container.width               { width: {{dc:theme:x_layout_site_width unit="%"}};         }
.x-container.max                 { max-width: {{dc:theme:x_layout_site_max_width unit="px"}}; }
.x-bar-content.x-container.width { flex-basis: {{dc:theme:x_layout_site_width unit="%"}};    }

<?php if ( get_option("x_layout_site") == 'boxed' ) : ?>

.site,
.x-site {
  width: {{dc:theme:x_layout_site_width fallback="100%" unit="%"}};
  max-width: {{dc:theme:x_layout_site_max_width fallback="1000" unit="px"}};
  margin: 0 auto;
}

<?php endif; ?>

/* Global Container
// ============================================================================= */

.x-container,
.x-container.max,
.x-container.width {
  margin-left: auto;
  margin-right: auto;
}


/* Content
// ========================================================================== */

.x-main.full {
  float: none;
  clear: both;
  display: block;
  width: auto;
}
